APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = usernamePASSWORD = passwordHOSTPORT = 3306CHARSET = utf8DEBUG = true[LANG]default_lang = zh-cn[DING];你申请的钉钉机器人apiACCESS_TOKEN =;接收人手机号,多个逗号（英文）隔开AT =;签名SECRET =;项目名称SYSTEM_NAME =